@{
    ViewBag.Title = "Agency List";
}
@model AR2AP.WebApp.Models.Foundation.SimpleListVModel<AR2AP.BLL.AgencyEntity>
@section submenu
{
    @Html.Partial("_SubMenuFoundation")
}
<div class="buttonset" style="margin:5px 0px; font-size:10px; font-weight:normal"><a href="/Foundation/AgencyMerge">Add New</a></div>
<table>
    <tr>
        <th>ID</th>
        <th>Agency Name</th>
        <th>Currency Type</th>
    </tr>
    @foreach (var item in Model.Entities)
    { 
        <tr>
            <td>@item.AgencyID</td>
            <td><a href="/Foundation/TermMerge/@item.AgencyID">@item.AgencyName</a></td>
            <td>@item.CurrencyType</td>
        </tr>
    }
</table>

