<div style="font-size: 1.5em; text-align: center; padding: 0.5em 2em 0.5em 1em; margin-bottom: 10px; font-weight: bold" class="ui-state-highlight ui-corner-all">
    Account Receivable
</div>
<ul id="leftmenu">
    <li><a href="/AR/Add">Add AR</a></li>
    <li><a href="/AR/List">AR List</a></li>
    <li><a href="/Collection/Add">Add Collection</a></li>
    <li><a href="/Collection/List">Collection List</a></li>
</ul>
