<div style="font-size: 1.5em; text-align: center; padding: 0.5em 2em 0.5em 1em; margin-bottom: 10px; font-weight: bold" class="ui-state-highlight ui-corner-all">
    Foundation
</div>
<ul id="leftmenu">
    <li><a href="/Foundation/EmpList">Employee</a></li>
    <li><a href="/Foundation/AgencyList">Agency</a></li>
    <li><a href="/Foundation/ClientList">Client</a></li>
    <li><a href="/Foundation/TeamList">Team</a></li>
</ul>
