@{
    ViewBag.Title = "AR List";
}
@model AR2AP.WebApp.Models.AR.ListVModel
@section submenu
{
    @Html.Partial("_SubMenuAR")
}
<div class="buttonset" style="margin:5px 0px; font-size:10px; font-weight:normal"><a href="/AR/Add">Add New</a></div>
<table>
    <tr>
        <th>ID</th>
        <th>Agency Name</th>
        <th>Currency Type</th>
    </tr>
</table>
