a.closeBtn{ text-decoration:none;position:absolute;top:10px;right:10px;display:block;width:60px;padding:4px 0;text-align:center;background:#fff;border:1px solid #4A8231;color:#333;}
a.closeBtn:hover{color:#fff;border:1px solid #4A8231;background:#4A8231;}
.blk{width:500px;position:relative;}
.blk .main{border:2px solid #4A8231;position:relative;background:#fff;}
.blk .main h2{font:bold 16px "Microsoft YaHei";padding:10px 20px 2px;color:#4A8231;}
.blk .main ul{padding:20px;zoom:1;overflow:hidden;font-size:12px;}
.blk .main ul li{float:left;width:100px;text-align:center;line-height:30px;margin-bottom:10px;}
.blk .main ul li a{color:#333;display:block;}
.blk .main ul li a:hover{background:#4A8231;color:#fff;font-weight:bold;font-size:14px;}




